<h1>Buttons</h1>

<ul class="nav" role="tablist">
    <li role="tab" class="nav-item">
      <button class="btn btn-link nav-link" [routerLink]="'button'" routerLinkActive="active" type="button">Button</button>
    </li>
    <li role="tab" class="nav-item">
      <button class="btn btn-link nav-link" [routerLink]="'group'" routerLinkActive="active" type="button">Button Group</button>
    </li>
    <li role="tab" class="nav-item">
      <button class="btn btn-link nav-link" [routerLink]="'dropdown'" routerLinkActive="active" type="button">Dropdown</button>
    </li>
  </ul>
<router-outlet></router-outlet>