.clr-accordion-reverse-title {
  max-width: 320px;
  .progress-pinned-to-top-in-accordion-title {
    left: -12px;
  }
}

.accordion-content-with-button {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.progress-pinned-to-top-in-accordion-title {
  height: 2px;
  min-height: 2px;
  width: calc(100% + 42px);
  position: relative;
  top: -6px;
  left: -31px;
  justify-content: space-between;
  
  progress {
    background-color: transparent;
  }
}

.title-with-progress {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.clr-toggle-wrapper {
  margin-right: 0;

  label {
    padding: 0;
    max-width: 0 !important;
    margin-left: 100px;
  }
}