<app-accordion-default></app-accordion-default>

<h3>Icons in title</h3>
<br>
<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-icon shape="floppy"></clr-icon> Item 1
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-icon shape="floppy"></clr-icon> Item 2
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-icon shape="floppy"></clr-icon> Item 3
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>
<h3>Grid in title</h3>
<br>
<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>
            <div class="clr-row clr-no-gutters">
                <div class="clr-col-4">
                    <clr-icon shape="floppy"></clr-icon> This item takes 4 cols
                </div>
                <div class="clr-col-3">This item takes 3 cols</div>
                <div class="clr-col-5">This item takes 5 cols</div>
            </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-icon shape="floppy"></clr-icon> Item 2
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-icon shape="floppy"></clr-icon> Item 3
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>
<h3>Title with reverse direction</h3>
<br>
<clr-accordion class="clr-accordion-reverse-title">
    <clr-accordion-panel>
        <clr-accordion-title>
            Item 1
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            Item 2
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            Item 3
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>

<h3>Title with button</h3>
<br>
<clr-accordion class="clr-accordion-reverse-title">
    <clr-accordion-panel>
        <clr-accordion-title>
            <div class="accordion-content-with-button">Item 1 <button class="btn btn-primary"
                    (click)="preventClickBubbling($event)">Primary</button></div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <div class="accordion-content-with-button">Item 2 <button class="btn btn-secondary btn-sm"
                    (click)="preventClickBubbling($event)">Primary</button></div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>
            <div class="accordion-content-with-button">Item 3 <button class="btn btn-link btn-icon btn-danger"
                    (click)="preventClickBubbling($event)">
                    <clr-icon shape="trash"></clr-icon>
                </button></div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>
<h3>Title with Dropdown</h3>
<br>
<clr-accordion class="clr-accordion-reverse-title">
    <clr-accordion-panel>
        <clr-accordion-title>
            <div>
                <clr-dropdown>
                    <button clrDropdownTrigger aria-label="Dropdown demo button" (click)="preventClickBubbling($event)">
                        <clr-icon shape="ellipsis-vertical" size="12"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="top-left" (click)="preventClickBubbling($event)">
                        <label class="dropdown-header" aria-hidden="true"
                            (click)="preventClickBubbling($event)">Dropdown header</label>
                        <div aria-label="Dropdown header Action 1" clrDropdownItem
                            (click)="preventClickBubbling($event)">Action 1</div>
                        <div aria-label="Dropdown header Action 2" clrDropdownItem
                            (click)="preventClickBubbling($event)">Action 2</div>
                        <div class="dropdown-divider" role="separator" aria-hidden="true"
                            (click)="preventClickBubbling($event)"></div>
                        <div clrDropdownItem (click)="preventClickBubbling($event)">Link 1</div>
                        <div clrDropdownItem (click)="preventClickBubbling($event)">Link 2</div>
                    </clr-dropdown-menu>
                </clr-dropdown>Item 1
            </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>
<h3>Title with progress</h3>
<br>
<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-progress-bar class="progress-pinned-to-top-in-accordion-title" clrValue="40" clrMax="100">
            </clr-progress-bar>
            <div class="title-with-progress">
                Servers (health check is running) <div><span class="badge badge-info">15</span>
                    <clr-signpost (click)="preventClickBubbling($event)">
                        <clr-signpost-content *clrIfOpen [clrPosition]="'top-left'">
                            <h3>Default Signpost</h3>
                            <p>Position: <code class="clr-code">top-left</code></p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
            </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-progress-bar class="progress-pinned-to-top-in-accordion-title" clrValue="15" clrMax="100">
            </clr-progress-bar>
            <div class="title-with-progress">
                Storage devices (checked for viruses) <div><span class="badge badge-success">15</span>
                    <clr-signpost (click)="preventClickBubbling($event)">
                        <clr-signpost-content *clrIfOpen [clrPosition]="'top-left'">
                            <h3>Default Signpost</h3>
                            <p>Position: <code class="clr-code">top-left</code></p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
            </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
    <clr-accordion-panel>
        <clr-accordion-title>
            <clr-progress-bar class="progress-pinned-to-top-in-accordion-title" clrValue="60" clrMax="100" clrDanger
                clrLoop></clr-progress-bar>
            <div class="title-with-progress">
                Backup tasks (failed for few locations) <div><span class="badge badge-danger">15</span>
                    <clr-signpost (click)="preventClickBubbling($event)">
                        <clr-signpost-content *clrIfOpen [clrPosition]="'top-left'">
                            <h3>Default Signpost</h3>
                            <p>Position: <code class="clr-code">top-left</code></p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
            </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>
<h3>Title with inputs</h3>
<br>
<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>
            <form clrForm clrLayout="horizontal" class="clr-row clr-no-gutters no-top-margin">
                <div class="clr-col-1">Container</div>
                <clr-input-container class="clr-col-4 clr-offset-1">
                    <label class="clr-col-6">Container name</label>
                    <input class="clr-col-6" clrInput placeholder="LXC container 1" name="name" [(ngModel)]="name"
                        (click)="preventClickBubbling($event)" />
                </clr-input-container>
                <clr-select-container class="clr-col-4 clr-offset-1">
                    <label class="clr-col-6">Container type</label>
                    <select class="clr-col-6" clrSelect name="options" [(ngModel)]="options"
                        (click)="preventClickBubbling($event)">
                        <option value="1">LXC</option>
                        <option value="2">Docker</option>
                        <option value="3">Other</option>
                    </select>
                </clr-select-container>
                <div class="clr-toggle-wrapper clr-col-1">
                    <input type="checkbox" id="horizontal-checkbox1" name="checkbox-basic" class="clr-toggle" (click)="preventClickBubbling($event)">
                    <label for="horizontal-checkbox1" class="clr-control-label" (click)="preventClickBubbling($event)"></label>
                  </div>
            </form>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>